del, ins {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: #d4fcbc;
}

del {
    background-color: #fbb;
}

input {
    border-color: transparent;
    border:transparent ;
}
input:active {
    border-color: transparent;
    border:transparent ;
}
input:hover {
    border-color: transparent;
    border:transparent ;
}

del::before,
ins::before {
    position: absolute;
    left: 0.5rem;
    font-family: monospace;
    content: '+';
}

del::before {
    content: '−';
}



p {
    margin: 0 1.8rem 0;
    font-family: Georgia, serif;
    font-size: 1rem;
}
abbr {
    font-style: italic;
    color: chocolate;
}

img {
    display: inline-grid;
    margin: 0 0;
    width: 30%;
    height: 30%;
}
.forecast {
    margin: 0;
    padding: 0.3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.forecast > h1,
.day-forecast {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat url('/media/examples/rain.svg') white;
}

.day-forecast > h2,
.day-forecast > p {
    margin: 0.2rem;
    font-size: 1rem;
}



aside > p {
    margin: 0.5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}
body {
    margin-left: 20%;
    margin-right: 20%;
    background-color : #206060;
    color: #ffffff;
    
}
figure {
    margin: 0;
}
blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
/* I'm Doing */
.round {
    /*//border-radius: 10px;*/
    border-radius: 50%;
}
.center {
    float: center;
    text-align: center;
    place-self: center;
    align-items: center;
    align-self: center;
    
}

.toBottom {
    place-self: bottom;
}
.left {
    place-self: left;
    display: left;
    text-align: left;
    align-self: left;
    align-content: left;
}
.icon {
    
    width: 60px;
    height: 60px;
}
.coral{
    border-radius: 20px;
    background-color: #a06060;
}
.horizontal{
    display: inline-flex;
    justify-content: space-around;
    /*background-color: #ff00ff;*/
}
.vertical{
    display: inline-grid;
    /*background-color: aqua;*/
}

.lefter {
    float: left;
    background-color: #00ff00;
    width: 20%;
    height: 100%;
}

.righter {
    float: right;
    background-color: #0000ff;
    width: 20%;
    height: 100%;
}
.noMargin{
    margin-left: 0%;
    margin-right: 0%;
}
.block {
    display: block;
}
section {
    color: black;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.white {
    background-color: #FFF;
}
caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 7px 5px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(240, 240, 240);
}

.heman {
    font: 1.4rem molot;
    text-shadow: 1px 1px 1px #fff, 2px 2px 1px #000;
}

.skeletor {
    font: 1.7rem rapscallion;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 #fff, 0 0 9px #000;
}
h1 {
    font:italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: #00ffff;
}
a {
    color: #00ffff
}


label {
    padding-right: 10px;
    font-size: 1rem;
}

@media (max-width: 900px) {
    .center {
        flex-direction: column;
    }

    .center>img {
        max-width: 80%;
    }
}